In [1]:
import pandas as pd

In [2]:
a=[1,2,3]
as1=pd.Series(a,index=['a','b','c'])

In [3]:
as1

a    1
b    2
c    3
dtype: int64

In [4]:
d={"name":["Abc","def","ghi"],"age":[1,2,3]}

In [5]:
x=pd.DataFrame(d,index=['a','b','c'])
x

  name  age
a  Abc    1
b  def    2
c  ghi    3

In [6]:
x.loc['a']['name']

'Abc'