In [1]:
import pandas as pd

In [18]:
df=pd.read_csv("file.csv",header=None,index_col=0,names=["name","age"])
df

  name  age
0  ABC   20
1  DEF   30
2  GHI   40
3  JKL   50

In [20]:
df['name']

0    ABC
1    DEF
2    GHI
3    JKL
Name: name, dtype: object

In [23]:
df1=pd.read_csv("file.csv",usecols=[1,2],header=None)
df1

     1   2
0  ABC  20
1  DEF  30
2  GHI  40
3  JKL  50

In [27]:
df1=pd.read_csv("file.csv",header=None)
df1

          0
0  0.ABC.20
1  1.DEF.30
2  2.GHI.40
3  3.JKL.50